body {
  background: #1e1e1e;
  color: white;
  font-family: Consolas;
  padding: 20px;
}

.card {
  background: #252526;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.actions {
  margin-bottom: 10px;
}

button {
  background: #0e639c;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #1177bb;
}

pre {
  margin: 0;
}

/* Toggle Button */
#themeToggle {
  position: fixed;
  top: 15px;
  right: 20px;
  background: #0e639c;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  z-index: 1000;
}

/* ---------- LIGHT MODE ---------- */
body.light {
  background: #f3f3f3;
  color: #000;
}

body.light .card {
  background: #ffffff;
  color: #000;
}

body.light button {
  background: #007acc;
  color: white;
}

/* Prism light fix */
body.light pre {
  background: #f5f5f5 !important;
}

/* Scroll */
html {
  scroll-behavior: smooth;
}

/* INDEX PANEL */
#indexPanel {
  background: #252526;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  max-height: 55vh;
  overflow: auto;
  max-width: 80vw;
}
.mainHeading {
  font-size: 2.3rem;
  margin-top: 0px;
}
#indexPanel h2 {
  margin-top: 0;
  font-size: 30px;
}

#indexPanel a {
  display: block;
  color: #4fc1ff;
  text-decoration: none;
  font-size: 20px;
  padding: 4px 0;
}

#indexPanel a:hover {
  text-decoration: underline;
}

/* Light mode fix */
body.light #indexPanel {
  background: #ffffff;
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}

.card h3 {
  font-size: 1.8em;
  margin: 0.2rem 0px 1rem 0px;
}

/* Go go Top Button */
#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  display: none; /* hidden initially */
}

#topBtn:hover {
  background-color: #555;
}
pre[class*="language-"] {
  font-size: 20px;
}

/* Word Wrap for code blocks */
/* Prism code word wrap fix */
pre[class*="language-"] {
  white-space: pre-wrap !important; /* allow wrap */
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  overflow-x: auto; /* safety */
}

/* Code element */
pre[class*="language-"] code {
  white-space: pre-wrap !important;
}

/* Scroll Bar Color Fixes  */
/* scrollbar width */
#indexPanel::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar track (background) */
#indexPanel::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;
}

/* scrollbar thumb (moving part) */
#indexPanel::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4facfe, #00f2fe);
  border-radius: 10px;
}

/* hover effect */
#indexPanel::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00f2fe, #4facfe);
}

#indexPanel {
  scrollbar-width: thin; /* auto | thin */
  scrollbar-color: #4facfe #1e1e1e; /* thumb track */
}
